<div class="container">
  <h1>Graficos dinamicos de lineas <small> Angular</small></h1>
  <hr>

  <app-linea></app-linea>
</div>

<div class="container">
  <h1>Graficos dinamicos de barras <small> Angular</small></h1>
  <hr>

  <app-barra></app-barra>
</div>

<div class="container">
  <h1>Graficos dinamicos de Donuts <small> Angular</small></h1>
  <hr>

  <app-dona></app-dona>
</div>

<div class="container">
  <h1>Graficos dinamicos de Radar <small> Angular</small></h1>
  <hr>

  <app-radar></app-radar>
</div>
<div class="container">
  <h1>Graficos dinamicos de Torta <small> Angular</small></h1>
  <hr>

  <app-torta></app-torta>
</div>
